.new{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.actions > * {
    width: 160px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-btn{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 16px;
    margin-top: 20px;
}
