<p-iconfield class="fild-search">
  <p-inputicon class="pi pi-search" />
  <input type="text" pInputText placeholder="Search" 
    [formControl]="searchControl"
  />
</p-iconfield>

<p-toast></p-toast>

<p-table
  [value]="products"
  [columns]="cols"
  [tableStyle]="{ 'min-width': '50rem' }">


  <ng-template pTemplate="header" let-columns>
    <tr class="topData">
      @for (col of columns; track col.field) {
        <th>{{ col.header }}</th>
      }
      <th>Ações</th>
    </tr>
  </ng-template>

  
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr class="data">
        
      @for (col of columns; track col.field) {
        <td>{{ rowData[col.field] }}</td>
      }
      <td class="actions">
        <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"></button>
        <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="onDelete(rowData.id)"></button>
    </td>


    </tr>
  </ng-template>

</p-table>