@if (products && products.length > 0) {

    <p-toast />
    <p-confirmdialog />

    <p-iconfield class="field-search">
        <p-inputicon class="pi pi-search" />
        <input type="text" pInputText placeholder="Buscar produto..." [formControl]="searchControl" />
    </p-iconfield>

    <p-table
        [value]="products"
        [columns]="cols"
        [tableStyle]="{ 'min-width': '50rem' }">

        <ng-template pTemplate="header" let-columns>
            <tr class="topData">
                @for (col of columns; track col.field) {
                    <th>{{ col.header }}</th>
                }
                <th>Ações</th>  
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr class="data">
                @for (col of columns; track col.field) {
                     <td>
                @if (col.field === 'price') {
                    {{ rowData[col.field] | currency:'BRL':'symbol':'1.2-2' }}
                } @else {
                    {{ rowData[col.field] }}
                }
            </td>
                }
                <td class="actions">
                    <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-success" (click)="editProduct(rowData.id)"></button>
                    <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger" (click)="deleteProduct(rowData.id)"></button>
                </td>
            </tr>
        </ng-template>

    </p-table>

} @else {
    <p-toast />
    <p-confirmdialog />

    <p-iconfield class="field-search">
        <p-inputicon class="pi pi-search" />
        <input type="text" pInputText placeholder="Buscar produto..." [formControl]="searchControl" />
    </p-iconfield>

    <div class="empty-state">
        <i class="pi pi-inbox"></i>
        <span>Nenhum produto encontrado.</span>
    </div>
}